[Desktop Entry]
Exec=$XDG_CONFIG_HOME/autostart/gsettings-adwaita
Icon=application-x-shellscript
Name=gsettings-adwaita
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
