[Desktop Entry]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=decoder com.belmoussaoui.Decoder && [[ -e $HOME ]] && rm -rf $HOME/.var/app/com.belmoussaoui.Decoder/data/decoder
Terminal=false
Type=Application
Keywords=QR;Scan;Generate;Code;

Name[ca]=Descodificador
Name[cs]=Dekodér
Name[da]=Decoder
Name[de]=Decoder
Name[en_GB]=Decoder
Name[es]=Decodificador
Name[eu]=Deskodetzailea
Name[fa]=رمزگشا
Name[fi]=QR-koodi
Name[fr]=Decoder
Name[fur]=Decodificadôr
Name[gl]=Decodificador
Name[he]=מפענח
Name[hr]=Dekôder
Name[hu]=Dekódoló
Name[id]=Decoder
Name[ie]=Decodificator
Name[is]=Decoder
Name[it]=Decoder
Name[ka]=დეკოდერი
Name[ko]=디코더
Name[nl]=Decoder
Name[oc]=Descodador
Name[pl]=Dekoder
Name[pt]=Descodificador
Name[pt_BR]=Decodificador
Name[ro]=Decoder
Name[ru]=Декодер
Name[sk]=Dekodér
Name[sl]=Dekoder
Name[sr]=Декодер
Name[sv]=Decoder
Name[tr]=Decoder
Name[uk]=Декодер
Name[vi]=Decoder
Name[zh_CN]=解码器
Name=Decoder
Comment[ca]=Escanejar i generar codis QR
Comment[cs]=Skenujte a generujte QR kódy
Comment[da]=Skan og opret QR-koder
Comment[de]=QR-Codes scannen und erstellen
Comment[en_GB]=Scan and Generate QR Codes
Comment[es]=Escanear y generar códigos QR
Comment[eu]=Eskaneatu eta sortu QR kodeak
Comment[fa]=پویش و تولید رمزینه‌های پاس
Comment[fi]=Lue ja luo QR-koodeja
Comment[fr]=Lire et produire des codes QR
Comment[fur]=Scansione e gjenere codiçs QR
Comment[gl]=Escanee e xere códigos QR
Comment[he]=סריקה ויצירת קודים מסוג QR
Comment[hr]=Skenirajte i stvorite QR kôdove
Comment[hu]=QR-kódok beolvasása és előállítása
Comment[id]=Memindai dan Membuat Kode QR
Comment[ie]=Scannar e generar codes QR
Comment[is]=Skanna og búa til QR-kóða
Comment[it]=Scansiona e genera codici QR
Comment[ka]=QR კოდის სკანირება და შექმნა
Comment[ko]=QR 코드를 스캔하고 만듭니다
Comment[nl]=Scan en genereer QR-codes
Comment[oc]=Numerizar e generar de còdis QR
Comment[pl]=Skanowanie i tworzenie kodów QR
Comment[pt]=Digitalizar e gerar códigos QR
Comment[pt_BR]=Escaneie e Gere QR Codes
Comment[ro]=Scanează și generează coduri QR
Comment[ru]=Сканирование и генерация QR-кодов
Comment[sk]=Skenujte a generujte QR kódy
Comment[sl]=Branje in ustvarjanje kod QR
Comment[sr]=Скенирајте и стварајте QR кодове
Comment[sv]=Skanna och generera QR-koder
Comment[tr]=QR Kod Tara ve Oluştur
Comment[uk]=Сканування і створення QR-кодів
Comment[vi]=Quét và tạo mã QR
Comment[zh_CN]=扫描并生成二维码
Comment=Scan and Generate QR Codes
Categories=Utility;GTK;GNOME;Scanning;
Keywords[ca]=QR;Escaneja;Genera;Codi;
Keywords[cs]=QR;skenovat;načíst;číst;přečíst;generovat;vygenerovat;kód;
Keywords[da]=QR;Skan;Generer;Generér;Opret;Kode;
Keywords[de]=QR;scannen;erstellen;Code;
Keywords[en_GB]=QR;Scan;Generate;Code;
Keywords[es]=QR;escanear;generar;analizar;código;
Keywords[eu]=QR;Eskaneatu;Sortu;Kodea;
Keywords[fa]=QR;Scan;Generate;Code;پویش;اسکن;تولید;کد;رمز;رمزینه;
Keywords[fi]=QR;Scan;Generate;Code;
Keywords[fr]=QR;Lecture;Scanner;Générer;Code;
Keywords[fur]=QR;Scansione;Gjenere;Codiç;
Keywords[gl]=QR;Analizar;Xerar;Código;
Keywords[he]=QR;סריקה;חילול;יצירה;קוד;קודים;
Keywords[hr]=QR;skeniraj;stvori;kôd;
Keywords[hu]=QR;Beolvasás;Előállítás;Kód;
Keywords[id]=QR;Pindai;Buat;Kode;
Keywords[ie]=QR;scannar;generar;code;
Keywords[is]=QR;Skanna;Búa til;Kóði;
Keywords[it]=QR;Scansiona;Scansione;Genera;Generazione;Codice;
Keywords[ka]=QR;Scan;Generate;Code;
Keywords[ko]=QR;큐알;Scan;바코드;2차원;Generate;생성;만들기;Code;코드;
Keywords[nl]=QR;Scan;Scannen;Generate;Genereren;Code;
Keywords[oc]=QR;Scan;Generate;Code;generar;còdi;numerizar;
Keywords[pl]=QR;Skanowanie;Skanuj;Zeskanuj;Scan;Utwórz;Tworzenie;Generuj;Wygeneruj;Generowanie;Kod;Kody;Kodów;Code;Codes;
Keywords[pt]=QR;Digitalizar;Gerar;Código;Code;
Keywords[pt_BR]=QR;Scan;Escanear;Digitalizar;Gerar;Código;Code;
Keywords[ro]=QR;Scan;Generate;Code;Scanează;Generează;Cod;
Keywords[ru]=QR;Scan;Generate;Code;сканировать;код;
Keywords[sk]=QR;skenovať;skenovanie;generovať;generovanie;kód;kódu;
Keywords[sl]=QR;Scan;Generate;Code;koda;branje;preberi;črte;
Keywords[sr]=QR;скенирај;створи;код;Scan;Generate;Code;
Keywords[sv]=QR;Skanna;Generera;Kod;
Keywords[tr]=QR;Kare;Tara;Oluştur;Yarat;Üret;Kod;
Keywords[uk]=QR;Scan;Generate;Code;кьюар;скан;сканування;створення;код;
Keywords[vi]=QR;Scan;Generate;Code;Quét;quet;Tạo;Tao;Mã;Ma;
Keywords[zh_CN]=QR;Scan;Generate;Code;扫描;生成;二维码;
StartupNotify=true
Icon=com.belmoussaoui.Decoder
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=com.belmoussaoui.Decoder
