[Desktop Entry]
Name=LibreWolf (Flatpak)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=librewolf --file-forwarding io.gitlab.librewolf-community @@u %u @@
Comment=A fork of Firefox, focused on privacy, security and freedom.
Icon=io.gitlab.librewolf-community
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=librewolf
Categories=WebBrowser;
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=unsicher;new-private-window;profilemanager;Element;
X-Flatpak=io.gitlab.librewolf-community

[Desktop Action unsicher]
Name=Insecure
Icon=emblem-warning
Exec=mullvad-exclude /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=librewolf --file-forwarding io.gitlab.librewolf-community -p INSECURE @@u %u @@

[Desktop Action new-private-window]
Name=Private Window
Icon=view-private
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=librewolf --file-forwarding io.gitlab.librewolf-community --private-window @@u %u @@

[Desktop Action profilemanager]
Name=Profilemanager
Icon=configure
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=librewolf --file-forwarding io.gitlab.librewolf-community --ProfileManager @@u %u @@

[Desktop Action Element]
Name=Element
Icon=/var/home/user/.local/share/applications/icons/element.svg
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=librewolf io.gitlab.librewolf-community -p Webapps https://app.nitro.chat/#/home
SingleMainWindow=true
