[Desktop Entry]
Type=Application
Name=Firefox
GenericName=Web Browser
# Gnome and KDE 3 uses Comment.
Comment=Web Browser
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Comment=Firefox Browser
Categories=Network;WebBrowser;
StartupWMClass=firefox
Exec=/usr/bin/firefox%u
Icon=firefox

Actions=unsicher;new-private-window;profilemanager;Element;

[Desktop Action unsicher]
Name=Insecure
Icon=emblem-warning
Exec=mullvad-exclude /usr/bin/firefox-p INSECURE %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/bin/firefox--private-window %u

[Desktop Action new-private-window]
Name=Private Window
Icon=view-private
Exec=/usr/bin/firefox--private-window %u

[Desktop Action profilemanager]
Name=Profilemanager
Icon=configure
Exec=/usr/bin/firefox--ProfileManager %u

[Desktop Action Element]
Name=Element
Icon=/var/home/user/.local/share/applications/icons/element.svg
Exec=/usr/bin/firefox-p Webapps https://app.nitro.chat/#/home
SingleMainWindow=true

# these are not used as they are kinda unnecessary

[Desktop Action safe-mode]
Name=Start in Safe Mode
Icon=script-error
Exec=/usr/bin/firefox--safe-mode

[Desktop Action preferences]
Name=Open Preferences
Icon=configure-symbolic
Exec=/usr/bin/firefox--preferences

